[Unit]
Description=WealthVue Next.js App
After=network.target postgresql.service redis.service

[Service]
Type=simple
User=<USER>
WorkingDirectory=<PROJECT_ROOT>
# Ensure environment variables are loaded
EnvironmentFile=<PROJECT_ROOT>/.env
ExecStart=/usr/bin/npm start
Restart=always
# StandardOutput=append:/var/log/wealthvue/app.log
# StandardError=append:/var/log/wealthvue/app.error.log

[Install]
WantedBy=multi-user.target
